
*{
    margin:0;
    padding:0;
}

body{
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    
}

h4{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:#43C2ED;
    margin-top: 15px;
}

 h1{
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color:#43C2ED;
}



p{
    text-align: center;
    margin: 10px 40px;
}




 /*=============Start Header Section=============== */
#header{
    width: 100%;
    background-color:#43C2ED;
    height:100px;
    color:#ffff;
    
}

.img-logo{
    height:111px;
    
}

.header-left{
    float:left;
    margin-left: 80px;
    
}

.header-right{
    float:right;
    margin-right: 80px;
}

.header-right h4{
    margin: 20px;
    font-style: italic;
    font-size: 20px;
    font-weight: semibold;
    font-family:monospace;
}

#header h2{
    text-align: left;
    padding: 20px;
    color:white;
    font-size: 20px;
}

#navbar{
    Width: 100%;
    align-items: center;
    color: white;
    background-color: #43C2ED;
    padding: 20px 0px;
    
}

/*=============End Header Section=============== */


/*=============Start Navbar Section=============== */

#navbar ul{
     display: flex;
    
     
}

#navbar ul li{
    list-style-type: none;
    margin-left:100px;
     
    
}

#navbar ul li a{
    text-decoration: none;
    text-align: center;
    color:#ffff;
    font-weight: 600;
    
}


/*=============End Navbar Section=============== */


/*=============Start Hero Section=============== */




.slider-wrapper{
  width: 98%;
  margin-top: -6px;
}


/*=============End Hero Section=============== */


/*=============Start About Section=============== */
#container-about{
    margin-top: 0;
    
}

#container-about img{
    width: 30%;
    height: 350px;
    display:block;
    margin: 0 auto;
    padding: 30px 0;
}


#container-about span{
    color:#000000;
}

.softquality{
    font-weight: 800;
    color: #000000;
}

.slogan{
    font-weight: 900;
}


/*=============End About Section=============== */



/*=============Start Service Section=============== */

#service img{
    width: 30%;
    display:block;
    margin: 0 auto;
    padding: 30px 0;
}



#service-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
    
}


/*=============End Service Section=============== */

/*=============Start Why Choose Us Section=============== */




.why-choose-us-container img{
  width: 30%;
  height: 300px;
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;
  
}

.why-choose-us-container h5{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}


/*=============End Service Section=============== */

/*=============Start Team Member Section=============== */

#team-member{
    margin: 10px 30px;
}

#team-member h5{
    font-weight: bold;
    text-align: center;
}


.team-member-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 50px 0;
}



#team-member img{
   display: block;
   margin: 0 auto;
   height: 300px;
   margin: 10px 30px;
}






/*=============Start Team Member Section=============== */

/*=============Start Blog Section================ */

.imageheader img{
    width: 80%;
    height: 400px;
    display:block;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
    
}



.blog-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:50px;
    

}

.blog-container img{
    width: 90%;
    height: 400px;
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px
}



.blog-content{
    width:100%;
    margin:20px;
    margin-top: 50px;
}


#blog ul{
 
  list-style-position: inside;
  text-align: center;
  
}



/*=============End Blog Section==================== */

/*=============Start Contact Section================ */

#contact{
    width: 100%;
    

}

#contact p{
    margin-bottom: 50px;
    margin: 10px 40px;
}



.contact-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.contact-form input[type=text]{
    width:80%;
    padding: 10px 10px;

}

.contact-form input[type=email]{
    width:80%;
    padding: 10px 10px;
}

.contact-form input[type=submit]{
    width:80%;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: bold;
}


select{
  width: 80%;
  display: block;
  padding: 10px;
}


.contact-image img {
    border-radius: 0;
    box-shadow: none;
    height: auto;
    max-width: 93%;
    margin-left: 30px;
}

/*=============End Contact Section================== */

#footer-section{
    width: 100%;
    margin-top: 85px;
    background-color: #43C2ED;
}

#footer-section img{
    display: block;
    margin: 40px 20px;
    padding-top: 50px;
    
}

.footer-container{
    width: 100%; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 40px;

}

.footer-container h5{
    font-weight: bold;
    color: #ffffff;
    margin-top: -74px;
}

.office ul{
    list-style-type: none;
}



.link-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:20px;
    padding: 40px 50px 50px;
}

.link-container h5{
    color:#ffffff;
    font-weight: bold;
}

.link-container ul{
    list-style-type: none;
}

.link-container ul li a{
    color:#000000;
}

.social-link ul{
    display: flex;
}

i.fa-brands{
    font-size: 30px;
    margin-left:15px;
    text-align: justify;
    margin-top: 10px;
    color:#ffffff;
}

i.fa-facebook{
    margin-left:0px;
}

.copyright-content p{
    padding: 50px;
    color:#000000;
}